/* font-family: 'Alice', serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive; */
:root {
  --primary-color: #ed1e1e;
  --text-color: white;
  --text-deco: center;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --primary-font: 'Alice', serif;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/059/128/original/Black_Wallpapers_Free_Download_-_PixelsTalk_Net.jpeg?1671183867");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: var(--primary-font);
}
nav {
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 40px;
}
h1 {
  font-size: 80px !important;
  font-family: 'Great Vibes', cursive;
  text-align: var(--text-deco);
  color: var(--text-color);
}
h2 {
text-align: center;
}
.about {
  text-align: var(--text-deco);
  font-size: 48px;
    font-family: 'Tangerine', cursive;
  color: var(--text-color);
}

.paragraph {

  font-size: 20px;
  margin: 20px;
  padding: 1em;
}
.description {
   background-color: rgba(38, 37, 37, 0.5);


}
.paragraph-me {
font-family: 'Courier New', Courier, monospace;
font-size: 18px;
line-height: 1.5;

}

#button {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;

}
#contact {
  text-align: var(--text-deco);
  padding: 40px;
}
#contact .contacting {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}
i {
    color: #730F1E;
}
.skills {
   font-family: var(--primary-font);
   font-size: 18px;
   color: white;
   text-align: center;
   background-color: rgba(38, 37, 37, 0.5);
   padding: 10px;

}
 h3 {
     font-size: 35px !important;
    color: var(--primary-color);
    padding: 20px;
}

.personal {
     border-radius: 50%;
      width: 300px;
    height: 300px;
    padding-top: 40px;
}
img {
  display: block;
  margin: 1em auto;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  transition: 300ms all ease-in-out;

}
img:hover {
    transform: scale(1.2);
}
.projects {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    text-align: center;
    color: var(--primary-color);
    padding: 20px
    background-color: rgba(38, 37, 37, 0.5);

}
.projects p {
    color: white;
    font-size: 35px;

}
.row {
    display: grid;
    margin-bottom: 18px;
    align-items: center

}
.col-sm-6 {

     border-radius: 5%;
     padding: 1em;

     }

button {
  padding: 10px;
  border-color: white;
  box-shadow: var(--box-shadow);
  color: var(--text-color);


}


button a {
    text-decoration: none;
    color: #ed1e1e;


}

button a:hover {
    text-decoration: none;
    color:  #ed1e1e;
}

#connect {

   border: 1px solid black;
   border-radius: 8%;
   background-color: rgba(38, 37, 37, 0.5);
   text-align: center;
   padding: 20px;
   margin: auto;
   max-width: 600px;

}
.grid-img {
        display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 10px;
}
.contacting {
     font-family: var(--primary-font);
      color: var(--text-color);
     text-align: center;

}



footer {
    text-align: center;
    font-size: 12px;
    font-family: var(--primary-font);
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: var(--text-color);
}
footer a {
    text-decoration: none;
    color: var(--primary-color);
}

@media (max-width: 960px) {
    h1 {
        font-size: 50px;
    }
    .paragraph {
        padding: 0;
        text-align: center;
    }
}