/* font-family: 'Alice', serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive; */
:root {
  --primary-color: #730F1E;
  --text-color: white;
  --text-deco: center;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --primary-font: 'Alice', serif;
}
body {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/057/970/original/wallpaper.jpeg?1670848997');
  object-fit: stretch;
  color: white;
  font-family: var(--primary-font);
}
h1 {
  font-size: 80px !important;
   font-family: 'Great Vibes', cursive;
  text-align: var(--text-deco);
  color: var(--primary-color);
}
.about {
  text-align: var(--text-deco);
  font-size: 48px;
    font-family: 'Tangerine', cursive;
  color: var(--text-color);
}


.paragraph {

  font-size: 20px;
  margin: 20px;
  padding: 1em;

}
.paragraph-me {
border: 1px solid var(--primary-color);
border-radius: 5%;
font-size: 20px;
  margin: 20px

}

#button {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
#contact {
  text-align: var(--text-deco);
  padding: 40px;
}
#contact .contacting {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}
i {
    color: #730F1E;
}
.personal {
     border-radius: 50%;
      width: 300px;
  height: 300px;
}
img {
  display: block;
  margin: 1em auto;
  width: 400px;
  height: 400px;

}
.projects {
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    text-align: center;
    color: var(--primary-color);
    padding: 20px

}
.row {
    display: grid;

}
.col-sm-6 {
     border: 1px solid var(--primary-color) !important;
     border-radius: 5%;
     padding: 1em;

     }

button {
  padding: 10px;
  border-color: white;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}


button a {
    text-decoration: none;
    color: var(--primary-color);

}

button a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

footer {
    text-align: center;
    font-size: 12px;
    font-family: var(--primary-font);
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: var(--text-color);
}
footer a {
    text-decoration: none;
    color: var(--primary-color);
}